# Virtual environment
venv/

# Environment variables
.env

# Logs
logs/
*.log

# Pickle files
*.pkl

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store